.wrapper {
  position: relative;

  outline: 1px solid red;
  overflow: hidden;

  .flexWrapper {
    display: flex;
    height: 100vh !important;
    overflow: hidden !important;

    @include respond(tab-land) {
      height: 95vh !important;
    }
  }

  .sidebar {
    flex: 0.2;
    height: 100vh;
    background-color: $color-bg-dark;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    @include respond(tab-land) {
      display: none;
    }

    ul {
      margin-left: 0;
      list-style-type: none;
      color: white;
      display: flex;

      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0 !important;

      .link_active {
        color: $color-main !important;
      }
      li {
        width: 70%;
        padding: 0.5em 0.5em;
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
        }

        &:not(:first-of-type) {
          margin-top: 2rem;
        }

        i {
          margin-right: 1.5rem;
        }
        span {
          margin: 0;
          font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
          font-weight: 700;
          font-size: 1.5rem;
        }
      }
    }
  }

  .mainContent {
    overflow-y: scroll !important;
    overflow-x: hidden !important;

    // background-color: $color-bg-dark;
    // padding: 1.5rem 1.5rem 2rem 1.5rem;
    outline: 1px solid grey;
    flex: 0.6;
    @include respond(tab-land) {
      flex: 1;
    }

    &::-webkit-scrollbar {
      width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      background-color: $color-main !important;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-bg-dark !important;
      border-radius: 5px;
    }
  }

  .searchContainer {
    flex: 0.2;
    background-color: $color-bg-dark;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;

    @include respond(tab-land) {
      display: none;
    }
  }
}

.topbar {
  display: none;
  height: $nav-bar-height;
  @include respond(tab-land) {
    display: flex;
    background-color: #15202b;
    padding: 0.5rem 0.5rem;
    position: relative;
    align-items: center;
    flex-direction: row-reverse;
  }
  span {
    padding: 1rem 1rem;
    color: white;
  }
}

.closed {
  position: absolute;
  top: 0;
  right: -100rem !important;
}
.open {
  position: absolute;
  top: 0;
  right: 0 !important;
  display: flex;
}
.mobileSideBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: $color-bg-dark;
  justify-content: center;
  padding-top: 2rem;
  transition: all 0.5s ease-in-out;
  z-index: 1;

  @include respond(tab-land) {
    width: 45vw;
  }
  @include respond(phone) {
    width: 65vw;
  }

  ul {
    margin-left: 0;
    list-style-type: none;
    color: white;
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 !important;

    .link_active {
      color: $color-main !important;
    }
    li {
      width: 100%;
      padding: 0.5rem 0.5rem;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      &:not(:first-of-type) {
        margin-top: 2rem;
      }

      i {
        margin-right: 1.5rem;
      }
      span {
        margin: 0;
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
      }

      @include respond(tab-land) {
        padding: 1rem 2rem;
      }
    }
  }
}
