@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.nav {
  padding: 0.75rem 0;
  border-bottom: 1px solid rgb(255, 201, 4, 0.5) !important;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.linkContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    transition: all 0.1s ease-out;
    padding: 1.2rem;
    height: 100%;
    margin: 0 2rem;

    &:hover {
      transform: scale(1.01);
      color: #ba9b37;
      cursor: pointer;
    }
  }
}

.mobileLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: 'center';
  h1 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
.mobileMenuContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.link {
  color: white;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  @include respond(tab-land) {
    &:hover {
      border-left: 1px solid white;
      padding-left: 1rem;
    }
  }
}
