.top {
  padding: 1rem 2.5rem;
  background-color: $color-bg-dark;
  color: whitesmoke;
  border-bottom: 1px solid $color-main;
  height: 5vh;
  display: flex;
  align-items: center;
  cursor: pointer;

  .header {
    color: white !important;
  }

  @include respond(tab-land) {
    display: none;
  }

  i {
    color: $color-main;
  }
}

.messagesWrapper {
  width: 100%;
  height: 95vh;
  background-color: $color-bg-dark;
  display: flex;

  @include respond(phone) {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .leftContainer {
    width: 25%;
    border-right: 1px solid $color-main;
    background-color: white;
    padding: 0 1em;
    overflow: auto;
    min-height: 100%;
    padding-top: 0.5rem;

    @include respond(tab-land) {
      width: 35%;
    }
    @include respond(phone) {
      width: 100%;
      height: 40vh !important;
      min-height: 30vh !important;
    }

    &::-webkit-scrollbar {
      width: 0.5em;
    }
    &::-webkit-scrollbar-track {
      background-color: $color-main !important;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-bg-dark !important;
      border-radius: 5px;
    }

    .searchContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0.1rem;
    }

    .chatContainer {
      @include respond(phone) {
        width: 100%;
        display: flex;
        align-items: space-between;
        overflow-x: scroll;
        padding: 2.5rem 0;

        & > div {
          margin: 0 0.5rem;
        }
      }
    }

    .activeChat {
      background-color: $color-bg-dark !important;
      color: white !important;
      border-left: 5px solid $color-main;

      animation-duration: 0.3s;
      animation-name: slidein;

      @keyframes slidein {
        from {
          background-color: white;
          color: black;
          border-right: none;
          -webkit-filter: blur(5px);
          -moz-filter: blur(5px);
          -o-filter: blur(5px);
          -ms-filter: blur(5px);
          filter: blur(5px);
        }

        to {
          background-color: $color-bg-dark !important;
          color: white;
          border-left: 5px solid $color-main;

          -webkit-filter: blur(0);
          -moz-filter: blur(0);
          -o-filter: blur(0);
          -ms-filter: blur(0);
          filter: blur(0);
        }
      }
    }

    .chat {
      @include respond(phone) {
        width: 20rem;
        flex-shrink: 0;
      }
      width: 100%;
      background-color: white;

      min-height: 2rem;
      overflow: hidden;
      display: flex;
      margin: 1.5em 0;
      padding: 2.15em 0.5em;
      align-items: center;
      justify-content: space-around;
      box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
      position: relative;
      border-radius: 0.5em;
      transition: all 5.4 ease-in-out;
      overflow: hidden;
      &:hover {
        cursor: pointer;
        .deleteIcon {
          position: absolute;
          right: 0%;
          top: 50%;
        }
      }

      .avatar {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          border-radius: 50%;
          height: 4.5em;
          width: 4.5em;
        }
      }

      .info {
        width: 75%;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        height: 4rem;

        .user {
          display: flex;
          justify-content: space-between;

          padding: 0;
          width: 100%;
          padding: 0.25em 0;

          span {
            font-weight: Bold;
            text-transform: capitalize;
            margin-right: 0.25em;
            text-align: center;
            font-size: 1.15em;
          }
        }
      }

      .deleteIcon {
        position: absolute;
        right: -100%;
        top: 50%;
        transform: translate(0, -50%);
        padding: 0.5em 0;
        z-index: 1;
        width: 20%;
        background-color: red;
        height: 100%;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
        span {
          color: white;
          font-size: 1.2rem;
          padding: 0.5rem 0;
        }

        i {
          font-size: 1.2rem !important;
        }
      }
    }
  }
  .rightContainer {
    width: 100%;
    height: 100%;
    border-left: 2px solid $color-main;
    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(phone) {
      width: 100%;
      border-left: none !important;
    }

    .banner {
      height: 10vh;
    }
    .messagesContainer {
      height: 77vh;
      overflow: auto !important;
    }

    .messageInputContainer {
      height: 8vh;
      background-color: whitesmoke;
      display: flex;
      justify-content: stretch;
      align-items: center;

      div {
        width: 100%;
        padding: 0.5rem 1rem;
      }
    }
  }
}
