.modalwrapper {
  display: flex;

  overflow: hidden;

  width: 100% !important;
  justify-content: stretch;
  min-height: 25rem;

  .image {
    width: 100%;
    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }
  .content {
    width: 100%;

    .description {
      padding: 0.8rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      hr {
        border-top: 1px solid black;

        width: 100%;
      }
      .postWrapper {
        width: 100%;

        h2 {
          color: rgba(0, 0, 0, 0.68);
          font-size: 1.5rem !important;
          letter-spacing: 0.1px !important;
          word-spacing: 0.35px !important;
          font-weight: 500 !important;
          text-align: center;
          text-align: left;
        }
        span {
          color: rgba(0, 0, 0, 0.68);
          font-size: 1.2rem !important;
          letter-spacing: 0.1px !important;
          word-spacing: 0.35px !important;
        }
      }

      .iconWrapper {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .contentWrapper {
      height: 15rem;
      overflow-y: auto !important;

      padding: 0.5rem 0.5rem;
    }

    .commentField {
      padding: 0.4rem 0;
    }
  }

  @include respond(tab-land) {
    flex-direction: column;
  }
}
